<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/nav.ejs')%>

    <section>
      <ul>
        <% for (let i = 0; i < itemsInCart.length; i++) { %>
        <a href="/gearShow/<%=itemsInCart[i].id%>">
          <div id="card-container">
            <li>
              <img
                id="card-img"
                src="<%=itemsInCart[i].img%>"
                alt="Guitar Photo"
              />
            </li>
            <li><%=itemsInCart[i].name %></li>

            <li>Price: $<%=itemsInCart[i].price %></li>
            <form
              action="/cart/remove/<%=itemsInCart[i].id %>?_method=DELETE"
              method="POST"
            >
              <input
                style="margin-left: 10px"
                class="btn btn-outline-danger"
                type="submit"
                value="Remove"
              />
            </form>
          </div>
        </a>

        <% } %>
      </ul>
      <a href="/newSaleListing">Sell your Gear</a>
    </section>

    <footer></footer>
  </body>
</html>
