<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>

    <section id="bigContainer">
      <div id="left-container4video">
        <h2 style="color: white">Check it out!</h2>
        <div id="videoContainer">
          <iframe
            width="560"
            height="315"
            src="<%=gearShow.video%>"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div id="rightContainer">
        <h1><%=gearShow.name %></h1>
        <img
          id="card-img-showpage"
          src="<%=gearShow.img%>"
          alt="Guitar Photo"
        />

        <p><%=gearShow.description %></p>

        <h4>Price: $<%=gearShow.price %></h4>

        <form action="/cart/add/<%=gearShow.id%>" method="POST">
          <Button class="btn btn-outline-success">ADD TO CART</Button>
        </form>
      </div>
    </section>
  </body>
</html>
