<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div id="banner">
      <div id="homebannerCard">
        <h1 id="siteName">AVG Music</h1>
        <a id="sell-btn" href="/newSaleListing">SELL YOUR GEAR</a>
      </div>
    </div>

    <h1 id="featuredProducts">Featured Products</h1>
    <section>
      <ul>
        <% for (let i = 0; i < allGear.length; i++) { %>
        <a href="/gearShow/<%=allGear[i].id%>">
          <div id="card-container">
            <li>
              <img id="card-img" src="<%=allGear[i].img%>" alt="Guitar Photo" />
            </li>
            <li><%=allGear[i].name %></li>

            <li>Price: $<%=allGear[i].price %></li>
          </div>
        </a>
        <% } %>
      </ul>
    </section>
  </body>
</html>
