<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%> <%-
    include('./partials/shoppingCart.ejs')%>

    <section>
      <ul>
        <% for (let i = 0; i < sellerList.length; i++) { %>
        <a href="/gearShow/<%=sellerList[i].id%>">
          <div id="card-container">
            <li>
              <img
                id="card-img"
                src="<%=sellerList[i].img%>"
                alt="Guitar Photo"
              />
            </li>
            <li><%=sellerList[i].name %></li>

            <li>Price: $<%=sellerList[i].price %></li>
          </div>
        </a>
        <a href="/editSale/<%=sellerList[i].id %> "><button>EDIT</button></a
        ><br />

        <form
          action="/home/<%=sellerList[i].id %>?_method=DELETE"
          method="POST"
        >
          <input type="submit" value="DELETE LISTING" />
        </form>
        <% } %>
      </ul>
    </section>
  </body>
</html>
