<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>

    <div id="banner">
      <div id="sellerbannerCard">
        <h1 id="sellerListingTitle">SELLER LISTINGS</h1>
      </div>
    </div>

    <section>
      <h1 id="featuredProducts">Your current sale listings:</h1>

      <ul>
        <% for (let i = 0; i < sellerList.length; i++) { %>
        <a href="/gearShow/<%=sellerList[i].id%>">
          <div id="card-container">
            <li>
              <img
                id="card-img"
                src="<%=sellerList[i].img%>"
                alt="Guitar Photo"
              />
            </li>
            <li><%=sellerList[i].name %></li>

            <li>Price: $<%=sellerList[i].price %></li>
            <a href="/editSale/<%=sellerList[i].id %> "
              ><button class="btn btn-outline-secondary">EDIT</button></a
            ><br />

            <form
              action="//<%=sellerList[i].id %>?_method=DELETE"
              method="POST"
            >
              <input
                style="margin-left: 10px"
                class="btn btn-outline-danger"
                type="submit"
                value="DELETE LISTING"
              />
            </form>
          </div>
        </a>

        <% } %>
      </ul>
    </section>
  </body>
</html>
